Tut 9/CEX2Client/xml-resources/web-service-references/CEX2WebService/wsdl/localhost_8080/CEX2WebServer/CEX2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="CEX2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/CEX2WebServer/CEX2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLongestString">
<part name="parameters" element="tns:getLongestString"/>
</message>
<message name="getLongestStringResponse">
<part name="parameters" element="tns:getLongestStringResponse"/>
</message>
<message name="getLongestStringWithException">
<part name="parameters" element="tns:getLongestStringWithException"/>
</message>
<message name="getLongestStringWithExceptionResponse">
<part name="parameters" element="tns:getLongestStringWithExceptionResponse"/>
</message>
<message name="addNumberToServer">
<part name="parameters" element="tns:addNumberToServer"/>
</message>
<message name="addNumberToServerResponse">
<part name="parameters" element="tns:addNumberToServerResponse"/>
</message>
<message name="findLargestNumberInServer">
<part name="parameters" element="tns:findLargestNumberInServer"/>
</message>
<message name="findLargestNumberInServerResponse">
<part name="parameters" element="tns:findLargestNumberInServerResponse"/>
</message>
<message name="addSampleToServer">
<part name="parameters" element="tns:addSampleToServer"/>
</message>
<message name="addSampleToServerResponse">
<part name="parameters" element="tns:addSampleToServerResponse"/>
</message>
<message name="findSampleWithHighestTemperature">
<part name="parameters" element="tns:findSampleWithHighestTemperature"/>
</message>
<message name="findSampleWithHighestTemperatureResponse">
<part name="parameters" element="tns:findSampleWithHighestTemperatureResponse"/>
</message>
<message name="findAllSamplesWithTemperatureAbove">
<part name="parameters" element="tns:findAllSamplesWithTemperatureAbove"/>
</message>
<message name="findAllSamplesWithTemperatureAboveResponse">
<part name="parameters" element="tns:findAllSamplesWithTemperatureAboveResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<portType name="CEX2WebService">
<operation name="getLongestString">
<input wsam:Action="http://server/CEX2WebService/getLongestStringRequest" message="tns:getLongestString"/>
<output wsam:Action="http://server/CEX2WebService/getLongestStringResponse" message="tns:getLongestStringResponse"/>
</operation>
<operation name="getLongestStringWithException">
<input wsam:Action="http://server/CEX2WebService/getLongestStringWithExceptionRequest" message="tns:getLongestStringWithException"/>
<output wsam:Action="http://server/CEX2WebService/getLongestStringWithExceptionResponse" message="tns:getLongestStringWithExceptionResponse"/>
</operation>
<operation name="addNumberToServer">
<input wsam:Action="http://server/CEX2WebService/addNumberToServerRequest" message="tns:addNumberToServer"/>
<output wsam:Action="http://server/CEX2WebService/addNumberToServerResponse" message="tns:addNumberToServerResponse"/>
</operation>
<operation name="findLargestNumberInServer">
<input wsam:Action="http://server/CEX2WebService/findLargestNumberInServerRequest" message="tns:findLargestNumberInServer"/>
<output wsam:Action="http://server/CEX2WebService/findLargestNumberInServerResponse" message="tns:findLargestNumberInServerResponse"/>
</operation>
<operation name="addSampleToServer">
<input wsam:Action="http://server/CEX2WebService/addSampleToServerRequest" message="tns:addSampleToServer"/>
<output wsam:Action="http://server/CEX2WebService/addSampleToServerResponse" message="tns:addSampleToServerResponse"/>
</operation>
<operation name="findSampleWithHighestTemperature">
<input wsam:Action="http://server/CEX2WebService/findSampleWithHighestTemperatureRequest" message="tns:findSampleWithHighestTemperature"/>
<output wsam:Action="http://server/CEX2WebService/findSampleWithHighestTemperatureResponse" message="tns:findSampleWithHighestTemperatureResponse"/>
</operation>
<operation name="findAllSamplesWithTemperatureAbove">
<input wsam:Action="http://server/CEX2WebService/findAllSamplesWithTemperatureAboveRequest" message="tns:findAllSamplesWithTemperatureAbove"/>
<output wsam:Action="http://server/CEX2WebService/findAllSamplesWithTemperatureAboveResponse" message="tns:findAllSamplesWithTemperatureAboveResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/CEX2WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/CEX2WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
</portType>
<binding name="CEX2WebServicePortBinding" type="tns:CEX2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLongestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLongestStringWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNumberToServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findLargestNumberInServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSampleToServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSampleWithHighestTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllSamplesWithTemperatureAbove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CEX2WebService">
<port name="CEX2WebServicePort" binding="tns:CEX2WebServicePortBinding">
<soap:address location="http://localhost:8080/CEX2WebServer/CEX2WebService"/>
</port>
</service>
</definitions>